In [3]:
# Import necessary libraries
import sqlite3
import pandas as pd

# Define the path to the SQLite database
db_path = 'fraud.db'

# Create a connection to the SQLite database
conn = sqlite3.connect(db_path)

# Define the SQL query to get the top 3 rows
query = "SELECT * FROM data"

# Execute the query and fetch the results into a pandas DataFrame
df = pd.read_sql_query(query, conn)

# Close the connection to the database
conn.close()

# Display the top 3 rows
df

          Month  Search Index
0    2004-01-31            99
1    2004-02-29            98
2    2004-03-31           100
3    2004-04-30            83
4    2004-05-31            82
..          ...           ...
157  2017-02-28            79
158  2017-03-31            83
159  2017-04-30            74
160  2017-05-31            71
161  2017-06-30            74

[162 rows x 2 columns]